@media screen and ( max-width : 360px ) {

  .search-bar {
    height: 108px;
    left: 0;
    position: absolute;
    top: 108px;
    width: 338px;
    border: 2px solid red;
  }

  .search-input {
    background: white;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    left: 10px;
    position: absolute;
    top: -2.2rem;
    width: 338px;
    z-index: 1;
  }

  .radios-container {
    background: #41197f;
    border-radius: 10px;
    color: white;
    display: flex;
    font-family: sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    height: 100px;
    justify-content: space-evenly;
    left: 10px;
    line-height: 9px;
    position: absolute;
    top: 38px;
    width: 338px;
    z-index: 0;
  }

  .search-button {
    background: #fcc436;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    height: 40px;
    left: 32px;
    letter-spacing: 0.03em;
    line-height: 14px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 55px;
    width: 276px;
  }

  .first-letter {
    height: 23px;
  }
}
