@media screen and ( max-width : 360px ) {

  .login-container {
    background: white;
    display: flex;
    flex-direction: column;
    height: 800px;
    position: relative;
    width: 360px;
  }

  .title {
    color: #41197f;
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    height: 21px;
    left: 89px;
    letter-spacing: 0.165em;
    line-height: 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 524px;
    width: 182px;
  }

  .email-input {
    border: 0.5px solid #41197f;
    border-radius: 5px;
    color: #41197f;
    height: 40px;
    left: 42px;
    position: absolute;
    top: 564px;
    width: 276px;
  }

  .password-input {
    border: 0.5px solid #41197f;
    border-radius: 5px;
    box-sizing: border-box;
    color: #41197f;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    height: 40px;
    left: 42px;
    line-height: 14px;
    position: absolute;
    top: 613px;
    width: 276px;
  }

  .login-btn {
    background: #fcc436;
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    height: 40px;
    left: 42px;
    letter-spacing: 0.03em;
    line-height: 14px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 662px;
    width: 276px;
  }

  .login-btn:hover {
    background-color: #f8b714;
  }

  .header-background {
    background-image: url('./images/login-background.png');
    height: 70vh;
  }
}
