@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

@media screen and (max-width: 360px) {
  .login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 800px;
    background: #FFFFFF;
  }

  #title {
    position: absolute;
    width: 182px;
    height: 21px;
    left: 89px;
    top: 524px;  
    font-family: 'Epilogue';
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.165em;
    text-transform: uppercase;  
    color: #41197F;
  }
  
  #email-input {
    position: absolute;
    width: 276px;
    height: 40px;
    left: 42px;
    top: 564px;
    border: 0.5px solid #41197F;
    border-radius: 5px;
    color: #41197F;
  }

  #password-input {
    box-sizing: border-box;
    position: absolute;
    width: 276px;
    height: 40px;
    left: 42px;
    top: 613px;
    border: 0.5px solid #41197F;
    border-radius: 5px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #41197F;
  }

  .login-btn {
    position: absolute;
    width: 276px;
    height: 40px;
    left: 42px;
    top: 662px;
    background: #FCC436;
    border-radius: 5px;
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .login-btn:hover {
    background-color: #f8b714 ;
  }

  .header-background{
    height: 70vh;
    background-image: url('./images/login-background.png');
  }
}
